@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1.5px;
  overflow-x: hidden;
}

main {
  min-height: 80vh;
}

main a {
  color: black;
}

main a:hover {
  color: black;
}

.navbar-toggler,
.navbar-toggler:active,
.navbar-toggler:focus {
  outline: none;
}

nav .nav-link {
  font-size: 0.8rem;
}
